.products li img{
  width: 200px;
  height: 150px;
}
.products{
   list-style: none;

}
.products li{
  display: inline-block;
}
.products li p{
  font-size: 20px;
}

header h1{
  /* text-align: center; */
  margin-left: 50px;
  margin-bottom: 20px;
}